scrapy
pandas
seaborn
elasticsearch
elasticsearch_dsl
youtube_transcript_api
dateparser
#ktrain
tensorflow
scikit-learn
transformers
tqdm
numpy
torch
nltk
itemadapter
matplotlib
feedparser
pybuilder
python-dotenv
sentence-transformers
spacy
#pytextrank
icecream
gensim
pyemd

datasets
politexts
setuptools
pip
toml
wheel
cryptography
lxml
ktrain
mariadb
requests
keras
colorama
ipython
urllib3
six
packaging
certifi
idna
Pygments
Pillow
chardet
pyparsing
zipp
