howler~=1.3.0
hedwige_utils
hedwige-es
scrapy
pandas
elasticsearch
elasticsearch_dsl
youtube_transcript_api
dateparser
flask
celery
python-dotenv
redis
# force version < 0.11 due to transformers 4.15.0 from howler
#tokenizers==0.10.3
# Apparently not enclosed as howler dependency - Keep in sync with Howler's version
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.4.0/fr_core_news_md-3.4.0.tar.gz

nltk
