scrapy
pandas
seaborn
elasticsearch
elasticsearch_dsl
youtube_transcript_api
dateparser
#ktrain
tensorflow
scikit-learn
transformers
tqdm
numpy
torch
nltk
itemadapter
matplotlib
feedparser
pybuilder
python-dotenv
sentence-transformers
spacy
#pytextrank
icecream
gensim
pyemd
